* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 21px 0;
  z-index: 3;
}
.navbar__menu {
  display: flex;
  gap: 32px;
  align-items: center;
}
.navbar__menu__link {
  text-decoration: none;
  font-family: "Space Mono", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #939CAA;
  cursor: pointer;
}
@media (max-width: 523px) {
  .navbar__menu__link {
    display: none;
  }
}
.navbar__menu__link:hover {
  color: #FCB72B;
}
.navbar__add {
  display: none;
}
@media (max-width: 523px) {
  .navbar__add {
    display: block;
  }
}
.navbar__add__btn {
  background: none;
  border: none;
  display: none;
}
@media (max-width: 523px) {
  .navbar__add__btn {
    display: block;
    margin-right: 24px;
  }
}
.navbar__remove__btn {
  display: none;
  border: none;
  background: none;
  margin-right: 24px;
}
.navbar__add__btn:focus .navbar__menu {
  transform: translateX(0);
}
.navbar__button--btn {
  width: 180px;
  height: 53px;
  flex-shrink: 0;
  color: #FFFFFF;
  text-align: center;
  font-family: "Space Mono", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  background-color: #FCB72B;
  border: 1px solid #FCB72B;
  cursor: pointer;
}
@media (max-width: 523px) {
  .navbar__button--btn {
    display: none;
  }
}
.navbar__button--btn:hover {
  color: #FCB72B;
  background-color: #FFFFFF;
  border: 1px solid #FCB72B;
}

.navbarmenu {
  display: flex;
  gap: 58px;
}

.show {
  transform: translateX(100);
  width: 256px;
}

@media (max-width: 523px) {
  .navbar__menu {
    max-width: 256px;
    height: 603px;
    flex-shrink: 0;
    position: fixed;
    top: 77px;
    left: 0;
    background-color: #333A44;
    padding-top: 64px;
    padding-left: 3px;
    row-gap: 24px;
    transform: translateX(0%);
    transition: 0.2s ease;
    flex-direction: column;
    z-index: 3;
  }
  .navbar__menu__link {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    line-height: 25px;
    text-align: center;
    align-items: center;
    text-align: center;
    color: #E5ECF4;
    font-family: "Space Mono", sans-serif;
    text-align: left;
  }
  .navbar__button--btn {
    display: block;
    display: none;
  }
}
.heroo {
  background-image: url(/image/backgroundd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
@media (max-width: 768px) {
  .heroo {
    background-image: url(/image/bacgroundtablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
  }
}

.hero {
  position: relative;
  max-width: 840px;
  padding-top: 153px;
}
@media (max-width: 768px) {
  .hero {
    padding-top: 137px;
  }
}
.hero__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .hero__box {
    gap: 20px;
  }
}
.hero__box--title {
  max-width: 500px;
  height: 112px;
  font-family: "Space Mono", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
  text-align: left;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .hero__box--title {
    text-align: center;
  }
}
.hero__box--text {
  max-width: 405px;
  height: 100px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  padding-left: 41px;
}
@media (max-width: 768px) {
  .hero__box--text {
    text-align: center;
    max-width: 573px;
  }
}
.hero__box--btn {
  width: 180px;
  height: 53px;
  flex-shrink: 0;
  color: #FFFFFF;
  text-align: center;
  font-family: "Space Mono", sans-serif;
  font-size: 15px;
  font-style: normal;
  margin-left: -150px;
  font-weight: 700;
  line-height: 25px;
  background-color: #FCB72B;
  border: 1px solid #FCB72B;
  cursor: pointer;
}
.hero__box--btn:hover {
  color: #FCB72B;
  background-color: #FFFFFF;
  border: 1px solid #FCB72B;
}

.hero__box--text::before {
  content: url(/image/span1.png);
  position: absolute;
  bottom: 124px;
  left: 0;
}

.hero__box--text::after {
  content: url(/image/span2.png);
  position: absolute;
  right: -270px;
  bottom: -11px;
}

@media (max-width: 1133px) {
  .hero__box--text::before {
    bottom: 14px;
  }
  .hero__box--text::after {
    right: 0;
    bottom: -123px;
  }
}
@media (max-width: 1133px) and (max-width: 768px) {
  .hero__box--text::after {
    display: none;
  }
}
@media (max-width: 1133px) {
  .hero__box--text {
    padding: 0;
  }
  .hero__box--btn {
    width: 140px;
    font-size: 13px;
    margin-left: -260px;
  }
}
@media (max-width: 768px) {
  .hero__box--text::before {
    content: url(/image/span3.png);
    top: 470px;
  }
}
@media (max-width: 768px) and (max-width: 523px) {
  .hero__box--text::before {
    content: url(/image/span4.png);
  }
}
@media (max-width: 768px) {
  .hero__box--btn {
    width: 180px;
    font-size: 15px;
    margin-left: 0px;
  }
}
@media (max-width: 683px) {
  .navbarmenu {
    gap: 28px;
  }
  .navbar__menu {
    gap: 22px;
  }
  .navbar__menu__link {
    font-size: 12px;
  }
  .navbar__button--btn {
    width: 100px;
    height: 43px;
    font-size: 11px;
  }
  .hero__box {
    gap: 0px;
  }
  .hero__box--title {
    font-size: 46px;
    line-height: 46px;
  }
  .hero__box--text {
    max-width: 383px;
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  .hero {
    padding-top: 115px;
    background-image: url(/image/backgroundphone.jpg);
    background-repeat: no-repeat;
  }
  .hero__box {
    gap: 56px;
  }
  .hero__box--title {
    max-width: 311px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Space Mono", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 100% */
    letter-spacing: -1.786px;
  }
  .hero__box--text {
    max-width: 311px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-right: 0 30px;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}

.secondary-container {
  max-width: 1166px;
  width: 100%;
  padding: 0 30px 0 30px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */