@import './blocks/blocks';
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px 0 30px;
}

.secondary-container {
    max-width: 1166px;
    width: 100%;
    padding: 0 30px 0 30px;
    margin: 0 auto;
}